:host {
  color: rgb(253,255,255);
  background: linear-gradient(0deg, rgb(0,0,0), rgb(0,55,55) 40%, rgb(40,40,40));
  box-shadow: 1px 1px 3px 4px black;
  padding:5px;
  position: absolute;
  z-index: 5;
  top:10%;
  min-height:20%;
  width:80%;
  left:0;
  right:0;
  margin: 0 auto;
}
select:active, select:hover {
  outline-color: red
}
option:active, option:hover {
  color: red
}
