.lineContainer {
  background-color: rgb(10,10,10);
  background-image: repeating-linear-gradient(-65deg,
    rgba(0,0,0,1),
    rgba(55,55,55,1) 10px,
    rgba(0,0,0,1) 20px);
    box-sizing:border-box;
}
.stringContainer {

}
.objectContainer {
    border: 2px solid orange;
    border-radius:10px;
    box-shadow: 0px 0px 1px 2px black inset;
    padding:1px;
}
.title {
  font-size: 1rem;
  height: 1.3rem;
  line-height: 1.1rem;
  background-color: rgb(0,245,247);
  font-weight: bold;
}
.lineBody {
  margin-left:.5rem;
  min-height:.5rem;
  font-size: 1rem;
  background-color: rgb(230,230,0);
  display: block;
}
.textField {
  cursor: text;
  background-color: rgb(250,255,250);

  min-height:.5rem;
}
.textField:hover {
  background-color: rgb(255,255,255);
  box-shadow:0px 0px 1px 1px black ;
}
.addLine {
  background-color: rgb(0,220,0);
}
.deleteLine {
  background-color: rgb(190,0,0);
  color: rgb(255,255,255);
}

.focusMe {
  background-color: rgb(0,0,225);
}

.editHTML {
  background-color: rgb(255,0,200);
}

.isRaw {
  box-shadow: 0px 0px 1px 3px rgba(222, 0, 222, .5) inset;
}
.buttonGroup {
  margin-left: .4rem;
  height: 1.1rem;
  padding: 0px;
  line-height: 1.1rem;
  vertical-align: middle;
  display:inline-flex;
}
.buttonGroup button {
  color: #FBFDFD;
  border: none;
  margin: 0px;
  font-size: .7rem;
  padding-top: 1px;
  padding-left: .1rem;
  padding-right: .1rem;
  padding-bottom: 0px;
  font-weight: bold;
}
.buttonGroup button:hover {
  box-shadow: 0px 0px 1px 2px rgba(255,255,255,.8) inset;
}
.buttonGroup button:first-child {
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}
.buttonGroup button:last-child {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}
