/* global TS */
TS.cssTemplates.default = {
  hoverable: `
    box-shadow: 0px 0px .1rem .2rem rgba(0,30,155,.7);
  `,
  highlight: ` 
    .highlight-one {
      color: #AAF;
    }
    .highlight-two {
      color: #FBB;
    }
  `,
  icon: ``,
  link: ``,
  btn: `
    .hover:hover {
      box-shadow: 0px 0px .1rem .2rem rgba(0,30,155,.7);
    }
    .icon {
      background: white; 
      border-radius: .4rem;
    }
    button, input, select, select option {
      font-size:1rem;
    }
    input[type=button], button, select, .btn {
      color: white;
      border-radius: .4rem;
      border: none;
      margin: .2rem;
      background-color: rgb(15,50,250);
    }
    button:hover, .btn:hover, select:hover {
      box-shadow: 0px 0px .1rem .2rem rgba(235,255,255,.5) inset;
    }
    input[type=button]:active, button:active, select:active, .btn:active {
      box-shadow: 0px 0px .1rem .2rem rgba(255,255,0,.5);
    }
    .btnWarn {
      background-color : red;
    }
    .btnSubmit {
      background-color: orange;
    }
    a {
      cursor: pointer;
      color: blue;
    }`,
  border1: `box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.5);
      box-sizing:border-box;`,
  border2: `
      margin: .5rem 0px;
      box-shadow: 0px 0px 0.1rem 0.2rem rgb(55,155,255);`,
  border3: ``,
  backgroundTitle: ``,
  titleFont: ``,
  backgroundNav1: `
      color: rgb(255,255,255);
      background: linear-gradient(0deg, rgb(22,0,0), rgb(130,10,10) 40%, rgb(22,0,0));`,
  backgroundNav2: `background-color: #DFD;`,
  backgroundModals: `
    .bgModal {
      background: linear-gradient(0deg, rgb(10,120,0), rgb(0,145,55) 40%, rgb(20,110,40));
    }
      `,
  backgroundMain: `
      color: rgb(253,255,255);
      background: linear-gradient(0deg, rgb(0,0,0), rgb(0,55,55) 40%, rgb(40,40,40));`,
  btnWarn: ``,
  btnExit: `
      #exit {
        border: 2px solid black;float:right;
        background-color: red;
      }`,
  btnSubmit: ``,
  btnBase1: ``,
  btnBase2: ``,
  btnNav1: `
      .navButton {
        border: 1px solid #CCD;
        margin: 0.1rem;
        border-radius: 25% 25% 2% 2%;
        background: linear-gradient(0deg, rgb(55,55,55), rgb(0,255,155) 40%, rgb(77,77,77));
      }
      .navButton:hover {
        box-shadow: 0px 1px 1px 2px rgb(240,255,250);
      }
      .chosen {
        background: linear-gradient(0deg, rgb(0,0,0), rgb(0,255,55) 40%, rgb(40,40,40));
      }
      `,
  treeNav: `
      li {
        color: black;
      }
      li:hover {
        box-shadow: 0px 0px .1rem .2rem blue;
      }
    `,
  select: `
      select {
        color: white;
        border: none;
        font-size: 1rem;
        background: linear-gradient(0deg, rgb(30, 0, 0), rgb(60, 10, 5) 80%, rgb(40, 5, 0));
      }
      select option {
        color: white;
        background-color: rgb(0,0,0);
        border: none;
        font-size: 1rem;
      }
      select option:checked {
        color: white;
        background-color: rgb(0,33,0);
      }`
};
