/*not currently live*/
.hover:hover {
  box-shadow: 0px 0px .1rem .2rem rgba(0,30,155,.7);
}
.icon {
  background: white; 
}
button, input, select, select option {
  font-size:1rem;
}
input[type=button], button {
  border-radius: .4rem;
  margin: .2rem;
  background-color: gold;
}
button:hover, .btn:hover {
  box-shadow: 0px 0px .1rem .2rem rgba(235,255,255,.5) inset;
}
.btnWarn {
  background-color : red;
}
.btnSubmit {
  background-color: orange;
}
a {
  cursor: pointer;
  color: blue;
}
